@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-width: 50vw;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

.search-input {
    width: 250px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px;
    outline: none;
    text-align: center;
}

.search-btn {
    margin-top: 5px;
    width: 75px;
    height: 25px;
    font-weight: 900;
    border-radius: 20px;
    background-color: gray;
    color: white;
    outline: none;
    cursor: pointer;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    width: fit-content;
    margin: 0 auto;
}

.title:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 5px;
}

.city-container {
    height: 200px;
    width: 250px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 50px 50px 150px;
    grid-template-rows: repeat(4, 50px);
    grid-template-areas:
        "celsius   fahrenheit cityName   "
        "icon      icon       region     "
        "icon      icon       countryName"
        "condition condition  localTime  "
}

.city-container > * {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-c {
    grid-area: 'celsius';
}

.temp-f {
    grid-area: 'fahrenheit';
}

.icon {
    grid-area: icon;
    height: 100px;
    width: 100px;
}

.region {
    grid-area: region;
}

.country-name {
    grid-area: countryName;
}

.condition {
    grid-area: condition;
}

.local-time {
    grid-area: localTime;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-text {
    position: absolute;
    top: 160px;
    left: 720px;
}