@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

.search-input {
    width: 250px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px;
    outline: none;
    text-align: center;
}

.search-btn {
    margin-top: 5px;
    width: 75px;
    height: 25px;
    font-weight: 900;
    border-radius: 20px;
    background-color: gray;
    color: white;
    outline: none;
    cursor: pointer;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    width: fit-content;
    margin: 0 auto;
}

.title:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 5px;
}